In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv("trainData.csv")

In [4]:
df.shape

(614, 13)

In [5]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
df1=pd.read_csv('testdata.csv')

In [8]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [9]:
df1.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [10]:
df1.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [11]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [12]:
df.shape

(614, 13)

In [13]:
df1.dropna(inplace=True)

In [14]:
df1.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [15]:
df3=df.append(df1)

C:\Users\user10\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [16]:
df3

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,Graduate,Male,NaN,360.0,LP001002,Y,No,Urban,No
1,4583,1508.0,1.0,1,Graduate,Male,128.0,360.0,LP001003,N,Yes,Rural,No
2,3000,0.0,1.0,0,Graduate,Male,66.0,360.0,LP001005,Y,Yes,Urban,Yes
3,2583,2358.0,1.0,0,Not Graduate,Male,120.0,360.0,LP001006,Y,Yes,Urban,No
4,6000,0.0,1.0,0,Graduate,Male,141.0,360.0,LP001008,Y,No,Urban,No
5,5417,4196.0,1.0,2,Graduate,Male,267.0,360.0,LP001011,Y,Yes,Urban,Yes
6,2333,1516.0,1.0,0,Not Graduate,Male,95.0,360.0,LP001013,Y,Yes,Urban,No
7,3036,2504.0,0.0,3+,Graduate,Male,158.0,360.0,LP001014,N,Yes,Semiurban,No
8,4006,1526.0,1.0,2,Graduate,Male,168.0,360.0,LP001018,Y,Yes,Urban,No
9,12841,10968.0,1.0,1,Graduate,Male,349.0,360.0,LP001020,N,Yes,Semiurban,No
10,3200,700.0,1.0,2,Graduate,Male,70.0,360.0,LP001024,Y,Yes,Urban,No
11,2500,1840.0,1.0,2,Graduate,Male,109.0,360.0,LP001027,Y,Yes,Urban,NaN
12,3073,8106.0,1.0,2,Graduate,Male,200.0,360.0,LP001028,Y,Yes,Urban,No
13,1853,2840.0,1.0,0,Graduate,Male,114.0,360.0,LP001029,N,No,Rural,No
14,1299,1086.0,1.0,2,Graduate,Male,17.0,120.0,LP001030,Y,Yes,Urban,No
15,4950,0.0,1.0,0,Graduate,Male,125.0,360.0,LP001032,Y,No,Urban,No
16,3596,0.0,NaN,1,Not Graduate,Male,100.0,240.0,LP001034,Y,No,Urban,No
17,3510,0.0,0.0,0,Graduate,Female,76.0,360.0,LP001036,N,No,Urban,No
18,4887,0.0,1.0,0,Not Graduate,Male,133.0,360.0,LP001038,N,Yes,Rural,No
19,2600,3500.0,1.0,0,Graduate,Male,115.0,NaN,LP001041,Y,Yes,Urban,NaN
20,7660,0.0,0.0,0,Not Graduate,Male,104.0,360.0,LP001043,N,Yes,Urban,No
21,5955,5625.0,1.0,1,Graduate,Male,315.0,360.0,LP001046,Y,Yes,Urban,No
22,2600,1911.0,0.0,0,Not Graduate,Male,116.0,360.0,LP001047,N,Yes,Semiurban,No
23,3365,1917.0,0.0,2,Not Graduate,NaN,112.0,360.0,LP001050,N,Yes,Rural,No
24,3717,2925.0,NaN,1,Graduate,Male,151.0,360.0,LP001052,N,Yes,Semiurban,NaN
25,9560,0.0,1.0,0,Graduate,Male,191.0,360.0,LP001066,Y,Yes,Semiurban,Yes
26,2799,2253.0,1.0,0,Graduate,Male,122.0,360.0,LP001068,Y,Yes,Semiurban,No
27,4226,1040.0,1.0,2,Not Graduate,Male,110.0,360.0,LP001073,Y,Yes,Urban,No
28,1442,0.0,1.0,0,Not Graduate,Male,35.0,360.0,LP001086,N,No,Urban,No
29,3750,2083.0,1.0,2,Graduate,Female,120.0,360.0,LP001087,Y,No,Semiurban,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,3621,2717.0,1.0,1,Not Graduate,Female,171.0,360.0,LP002826,NaN,Yes,Urban,No
333,4709,0.0,1.0,0,Graduate,Female,113.0,360.0,LP002843,NaN,Yes,Semiurban,No
334,1516,1951.0,1.0,0,Graduate,Male,35.0,360.0,LP002849,NaN,Yes,Semiurban,No
335,2400,0.0,1.0,2,Graduate,Male,46.0,360.0,LP002850,NaN,No,Urban,No
337,2292,1558.0,1.0,0,Graduate,Male,119.0,360.0,LP002856,NaN,Yes,Urban,No
338,2360,3355.0,1.0,1,Graduate,Male,87.0,240.0,LP002857,NaN,Yes,Rural,Yes
339,4333,2333.0,0.0,0,Graduate,Female,162.0,360.0,LP002858,NaN,No,Rural,No
340,2623,4831.0,1.0,0,Graduate,Male,122.0,180.0,LP002860,NaN,Yes,Semiurban,Yes
341,3972,4275.0,1.0,0,Graduate,Male,187.0,360.0,LP002867,NaN,No,Rural,Yes
342,3522,0.0,1.0,3+,Not Graduate,Male,81.0,180.0,LP002869,NaN,Yes,Rural,No
343,4700,0.0,1.0,1,Graduate,Male,80.0,360.0,LP002870,NaN,Yes,Urban,No
344,6858,0.0,1.0,0,Graduate,Male,176.0,360.0,LP002876,NaN,No,Rural,No
345,8334,0.0,1.0,3+,Graduate,Male,260.0,360.0,LP002878,NaN,Yes,Urban,No
346,3391,1966.0,0.0,0,Graduate,Male,133.0,360.0,LP002879,NaN,Yes,Rural,No
347,2868,0.0,1.0,0,Not Graduate,Male,70.0,360.0,LP002885,NaN,No,Urban,No
348,3418,1380.0,1.0,2,Not Graduate,Male,135.0,360.0,LP002890,NaN,Yes,Urban,No
349,2500,296.0,1.0,0,Graduate,Male,137.0,300.0,LP002891,NaN,Yes,Rural,Yes
350,8667,0.0,1.0,2,Graduate,Male,254.0,360.0,LP002899,NaN,Yes,Rural,No
352,5817,910.0,1.0,0,Graduate,Male,109.0,360.0,LP002907,NaN,Yes,Urban,No
353,5119,3769.0,1.0,0,Graduate,Male,120.0,360.0,LP002920,NaN,Yes,Rural,No
354,5316,187.0,0.0,3+,Not Graduate,Male,158.0,180.0,LP002921,NaN,Yes,Semiurban,No
355,7603,1213.0,1.0,3+,Graduate,Male,197.0,360.0,LP002932,NaN,Yes,Urban,No
356,3791,1936.0,1.0,1,Graduate,Male,85.0,360.0,LP002935,NaN,Yes,Urban,No
357,2500,0.0,1.0,0,Graduate,Male,60.0,360.0,LP002952,NaN,No,Urban,No
359,4000,2667.0,1.0,0,Graduate,Male,152.0,360.0,LP002962,NaN,No,Semiurban,No
361,2269,2167.0,1.0,1,Graduate,Male,99.0,360.0,LP002969,NaN,Yes,Semiurban,No
362,4009,1777.0,1.0,3+,Not Graduate,Male,113.0,360.0,LP002971,NaN,Yes,Urban,Yes
363,4158,709.0,1.0,0,Graduate,Male,115.0,360.0,LP002975,NaN,Yes,Urban,No
365,5000,2393.0,1.0,0,Graduate,Male,158.0,360.0,LP002986,NaN,Yes,Rural,No
366,9200,0.0,1.0,0,Graduate,Male,98.0,180.0,LP002989,NaN,No,Rural,Yes

In [17]:
df4=df3.sample(10)

In [18]:
df4

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
595,3833,0.0,1.0,0,Not Graduate,Male,110.0,360.0,LP002940,Y,No,Rural,No
536,6133,3906.0,1.0,0,Graduate,Male,324.0,360.0,LP002734,Y,Yes,Urban,No
75,3583,3435.0,1.0,0,Graduate,Male,155.0,360.0,LP001400,NaN,No,Urban,No
114,5050,0.0,1.0,0,Graduate,Male,118.0,360.0,LP001398,Y,No,Semiurban,NaN
237,3463,0.0,NaN,0,Graduate,Female,122.0,360.0,LP001788,Y,No,Urban,Yes
284,10000,11666.0,1.0,2,Graduate,Female,460.0,360.0,LP002570,NaN,Yes,Urban,No
574,6406,0.0,1.0,3+,Graduate,Male,150.0,360.0,LP002863,N,Yes,Semiurban,No
604,12000,0.0,1.0,1,Graduate,Female,496.0,360.0,LP002959,Y,Yes,Semiurban,No
248,3943,0.0,1.0,0,Not Graduate,Male,64.0,360.0,LP002375,NaN,Yes,Semiurban,Yes
78,3167,4000.0,0.0,3+,Graduate,Male,180.0,300.0,LP001263,N,Yes,Semiurban,No

In [19]:
df3.shape

(903, 13)

In [21]:
df3["Gender"][df["Gender"]==["Male"]]=1

ValueError: Lengths must match to compare

In [22]:
from sklearn import preprocessing

In [23]:
le=preprocessing.LabelEncoder()

In [24]:
le.fit(df4["Gender"])

LabelEncoder()

In [25]:
df4

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
595,3833,0.0,1.0,0,Not Graduate,Male,110.0,360.0,LP002940,Y,No,Rural,No
536,6133,3906.0,1.0,0,Graduate,Male,324.0,360.0,LP002734,Y,Yes,Urban,No
75,3583,3435.0,1.0,0,Graduate,Male,155.0,360.0,LP001400,NaN,No,Urban,No
114,5050,0.0,1.0,0,Graduate,Male,118.0,360.0,LP001398,Y,No,Semiurban,NaN
237,3463,0.0,NaN,0,Graduate,Female,122.0,360.0,LP001788,Y,No,Urban,Yes
284,10000,11666.0,1.0,2,Graduate,Female,460.0,360.0,LP002570,NaN,Yes,Urban,No
574,6406,0.0,1.0,3+,Graduate,Male,150.0,360.0,LP002863,N,Yes,Semiurban,No
604,12000,0.0,1.0,1,Graduate,Female,496.0,360.0,LP002959,Y,Yes,Semiurban,No
248,3943,0.0,1.0,0,Not Graduate,Male,64.0,360.0,LP002375,NaN,Yes,Semiurban,Yes
78,3167,4000.0,0.0,3+,Graduate,Male,180.0,300.0,LP001263,N,Yes,Semiurban,No

In [26]:
le.transform(df4['Gender'])

array([1, 1, 1, 1, 0, 0, 1, 0, 1, 1])

In [27]:
df4

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
595,3833,0.0,1.0,0,Not Graduate,Male,110.0,360.0,LP002940,Y,No,Rural,No
536,6133,3906.0,1.0,0,Graduate,Male,324.0,360.0,LP002734,Y,Yes,Urban,No
75,3583,3435.0,1.0,0,Graduate,Male,155.0,360.0,LP001400,NaN,No,Urban,No
114,5050,0.0,1.0,0,Graduate,Male,118.0,360.0,LP001398,Y,No,Semiurban,NaN
237,3463,0.0,NaN,0,Graduate,Female,122.0,360.0,LP001788,Y,No,Urban,Yes
284,10000,11666.0,1.0,2,Graduate,Female,460.0,360.0,LP002570,NaN,Yes,Urban,No
574,6406,0.0,1.0,3+,Graduate,Male,150.0,360.0,LP002863,N,Yes,Semiurban,No
604,12000,0.0,1.0,1,Graduate,Female,496.0,360.0,LP002959,Y,Yes,Semiurban,No
248,3943,0.0,1.0,0,Not Graduate,Male,64.0,360.0,LP002375,NaN,Yes,Semiurban,Yes
78,3167,4000.0,0.0,3+,Graduate,Male,180.0,300.0,LP001263,N,Yes,Semiurban,No

In [31]:
df4

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
595,3833,0.0,1.0,0,Not Graduate,Male,110.0,360.0,LP002940,Y,No,Rural,No
536,6133,3906.0,1.0,0,Graduate,Male,324.0,360.0,LP002734,Y,Yes,Urban,No
75,3583,3435.0,1.0,0,Graduate,Male,155.0,360.0,LP001400,NaN,No,Urban,No
114,5050,0.0,1.0,0,Graduate,Male,118.0,360.0,LP001398,Y,No,Semiurban,NaN
237,3463,0.0,NaN,0,Graduate,Female,122.0,360.0,LP001788,Y,No,Urban,Yes
284,10000,11666.0,1.0,2,Graduate,Female,460.0,360.0,LP002570,NaN,Yes,Urban,No
574,6406,0.0,1.0,3+,Graduate,Male,150.0,360.0,LP002863,N,Yes,Semiurban,No
604,12000,0.0,1.0,1,Graduate,Female,496.0,360.0,LP002959,Y,Yes,Semiurban,No
248,3943,0.0,1.0,0,Not Graduate,Male,64.0,360.0,LP002375,NaN,Yes,Semiurban,Yes
78,3167,4000.0,0.0,3+,Graduate,Male,180.0,300.0,LP001263,N,Yes,Semiurban,No

In [32]:
df4['Married']=le.fit_transform(df4['Married'].astype(str))

In [33]:
df4

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
595,3833,0.0,1.0,0,Not Graduate,Male,110.0,360.0,LP002940,Y,0,Rural,No
536,6133,3906.0,1.0,0,Graduate,Male,324.0,360.0,LP002734,Y,1,Urban,No
75,3583,3435.0,1.0,0,Graduate,Male,155.0,360.0,LP001400,NaN,0,Urban,No
114,5050,0.0,1.0,0,Graduate,Male,118.0,360.0,LP001398,Y,0,Semiurban,NaN
237,3463,0.0,NaN,0,Graduate,Female,122.0,360.0,LP001788,Y,0,Urban,Yes
284,10000,11666.0,1.0,2,Graduate,Female,460.0,360.0,LP002570,NaN,1,Urban,No
574,6406,0.0,1.0,3+,Graduate,Male,150.0,360.0,LP002863,N,1,Semiurban,No
604,12000,0.0,1.0,1,Graduate,Female,496.0,360.0,LP002959,Y,1,Semiurban,No
248,3943,0.0,1.0,0,Not Graduate,Male,64.0,360.0,LP002375,NaN,1,Semiurban,Yes
78,3167,4000.0,0.0,3+,Graduate,Male,180.0,300.0,LP001263,N,1,Semiurban,No

In [34]:
df4['Dependents']=le.fit_transform(df4['Dependents'].astype(str))

In [35]:
df4

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
595,3833,0.0,1.0,0,Not Graduate,Male,110.0,360.0,LP002940,Y,0,Rural,No
536,6133,3906.0,1.0,0,Graduate,Male,324.0,360.0,LP002734,Y,1,Urban,No
75,3583,3435.0,1.0,0,Graduate,Male,155.0,360.0,LP001400,NaN,0,Urban,No
114,5050,0.0,1.0,0,Graduate,Male,118.0,360.0,LP001398,Y,0,Semiurban,NaN
237,3463,0.0,NaN,0,Graduate,Female,122.0,360.0,LP001788,Y,0,Urban,Yes
284,10000,11666.0,1.0,2,Graduate,Female,460.0,360.0,LP002570,NaN,1,Urban,No
574,6406,0.0,1.0,3,Graduate,Male,150.0,360.0,LP002863,N,1,Semiurban,No
604,12000,0.0,1.0,1,Graduate,Female,496.0,360.0,LP002959,Y,1,Semiurban,No
248,3943,0.0,1.0,0,Not Graduate,Male,64.0,360.0,LP002375,NaN,1,Semiurban,Yes
78,3167,4000.0,0.0,3,Graduate,Male,180.0,300.0,LP001263,N,1,Semiurban,No

In [36]:
df4['Education']=le.fit_transform(df4['Education'].astype(str))

In [37]:
df4['Self_Employed']=le.fit_transform(df4['Self_Employed'].astype(str))

In [38]:
df4['Property_Area']=le.fit_transform(df4['Property_Area'].astype(str))

In [39]:
df4

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_ID,Loan_Status,Married,Property_Area,Self_Employed
595,3833,0.0,1.0,0,1,Male,110.0,360.0,LP002940,Y,0,0,0
536,6133,3906.0,1.0,0,0,Male,324.0,360.0,LP002734,Y,1,2,0
75,3583,3435.0,1.0,0,0,Male,155.0,360.0,LP001400,NaN,0,2,0
114,5050,0.0,1.0,0,0,Male,118.0,360.0,LP001398,Y,0,1,2
237,3463,0.0,NaN,0,0,Female,122.0,360.0,LP001788,Y,0,2,1
284,10000,11666.0,1.0,2,0,Female,460.0,360.0,LP002570,NaN,1,2,0
574,6406,0.0,1.0,3,0,Male,150.0,360.0,LP002863,N,1,1,0
604,12000,0.0,1.0,1,0,Female,496.0,360.0,LP002959,Y,1,1,0
248,3943,0.0,1.0,0,1,Male,64.0,360.0,LP002375,NaN,1,1,1
78,3167,4000.0,0.0,3,0,Male,180.0,300.0,LP001263,N,1,1,0

In [40]:
df4.groupby(['Married', 'Dependents']).count()

                    ApplicantIncome  CoapplicantIncome  Credit_History  \
Married Dependents
0       0                         4                  4               3
1       0                         2                  2               2
        1                         1                  1               1
        2                         1                  1               1
        3                         2                  2               2

                    Education  Gender  LoanAmount  Loan_Amount_Term  Loan_ID  \
Married Dependents
0       0                   4       4           4                 4        4
1       0                   2       2           2                 2        2
        1                   1       1           1                 1        1
        2                   1       1           1                 1        1
        3                   2       2           2                 2        2

                    Loan_Status  Property_Area  Self_Employed
Married Dependents
0       0                     3              4              4
1       0                     1              2              2
        1                     1              1              1
        2                     0              1              1
        3                     2              2              2

In [41]:
df4['Gender'].value_counts()

Male      7
Female    3
Name: Gender, dtype: int64

In [42]:
df4['Married'].value_counts()

1    6
0    4
Name: Married, dtype: int64

In [43]:
df4['Self_Employed'].value_counts()

0    7
1    2
2    1
Name: Self_Employed, dtype: int64

In [44]:
df4['Property_Area'].value_counts

<bound method IndexOpsMixin.value_counts of 595    0
536    2
75     2
114    1
237    2
284    2
574    1
604    1
248    1
78     1
Name: Property_Area, dtype: int32>

In [45]:
import random

In [47]:
df4['Gender'].median(axis=1)

ValueError: No axis named 1 for object type <class 'type'>

In [48]:
df4['Education'].median()

0.0

In [50]:
df4['Married'].median()

1.0

In [51]:
df4['Self_Employed'].median()

0.0